<div class="form">
  <h1>Login</h1>
  <form action="/login" method="post">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" name="username" required placeholder="Your Name"><br>
      <label>Password</label>
      <input type="password" class="form-control" required name="password"><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>