<div class="form">
  <h1>Sign up</h1>
  <form action="/signup" method="post">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="username" required placeholder="First Name"><br>
       <label>Last Name</label>
      <input type="text" class="form-control" name="username" required placeholder="Last Name"><br>
      <label>Email</label>
      <input type="email_address" class="form-control" name="email_address" required placeholder="youremail@address.com"><br>
      <label>Password</label>
      <input type="password" class="form-control" required name="password"><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>