<div style="text-align:center" class="container">
  <header><img src="https://www.cavalierhotel.com/resourcefiles/homeimages/historic-cavalier-hotel-and-beach-club-home-top-1.jpg?version=7202020201359" width="300" height="150" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <div class="welcome"><h2>Welcome to Central Hotel</h2><div>

    <div class="content">
    <div style="text-align:left" class="container">  
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign up</a></li>

      
      
      <p>Welcome to the Sinatra Template! If you're seeing this page, then everything is working
      as expected. To get started, delete this file (<code>app/views/welcome.erb)</code> and begin adding
      your own actions to <code>application_controller.rb</code>. For more information, see the <a href="https://github.com/thebrianemory/corneal">README</a>.</p>
    </div>

   
</div>

